

body{
    background: repeating-linear-gradient(
       to right,       
        #AACC00,     
        #AACC00 20px,
        #BBD633 20px,
        #BBD633 40px 
    );
}

.surroundDiv{
    margin-top: 20px;
    background: #F6F4E5;
    padding: 20px;
    min-height: 300px;
    border: solid #1779BA;
    border-width: 6px 6px 6px 6px;
}

/*  Navbar  */
.top-bar{
    background: #272822;
    padding: 0px;
    border-bottom: 6px solid #1779BA;
}
div .menu{
    background: #272822;
}
.menu li a {
    color: white;
}
.menu li{
    padding: 8px;
}
.menu li:hover{
    background: #14679f;
}